<!--=====================================
PANTALLA IZQUIERDA
======================================-->

<div class="container-fluid pantallaIzquierda p-0" id="pantallaIzquierda">

  <div class="izquierda">

    <img data-nite-src="assets/img/izquierda.png">
    <a href="#" id="izquierda">Trabajos</a>
    
  </div>

  <div class="grid-container">
    
    <div class="grid-item">

      
    </div>

    <div class="grid-item ">
      
      
    </div>

    <div class="grid-item">
      
      

    </div>    
    <div class="grid-item ">
      
      

    </div>  

  </div>

</div>
