<!--=====================================
PANTALLA SUPERIOR
======================================-->

<div class="container-fluid pantallaSuperior p-0" id="pantallaSuperior">

  <div class="superior">

    <img data-nite-src="assets/img/superior.png">
    <a href="#" id="superior">Nosotros</a>
  
  </div>

  

  <div class="grid-container">
    
    <div class="grid-item ">

  

      
    </div>

    <div class="grid-item">
      
      
    </div>

    <div class="grid-item">
      
      

    </div>    
    <div class="grid-item">
      
      

    </div>  

  </div>
  
  

</div>  
