<!--=====================================
PANTALLA INFERIOR
======================================-->

<footer class="container-fluid pantallaInferior p-0" id="pantallaInferior">

  <div class="inferior">

    <img data-nite-src="assets/img/inferior.png">
    <a href="#" id="inferior">Contacto</a>
    
  </div>

  <div class="grid-container">
      
    <div class="grid-item">

      
    </div>

    <div class="grid-item">
      
      
    </div>

    <div class="grid-item ">
      
      

    </div>    
    <div class="grid-item">
      
      

    </div>  

  </div>
  

</footer>
