<!--=====================================
PANTALLA DERECHA
======================================-->

<div class="container-fluid pantallaDerecha p-0" id="pantallaDerecha">

  <div class="derecha">

    <img data-nite-src="assets/img/derecha.png">
    <a href="#" id="derecha">Planes</a>
    
  </div>  
  
  <div class="grid-container">
      
    <div class="grid-item ">
      
      

    </div>

    <div class="grid-item">
      
      
    </div>

    <div class="grid-item ">
      
      

    </div>    
    <div class="grid-item">
      
      

    </div>  

  </div>
    
</div>
