<!--=====================================
HOME
======================================-->
<div class="container-fluid home p-0">

  <div class="grid-container">
      
    <div class="grid-item d-flex justify-content-center align-items-center presentacion" id="presentacion">

      <figure class="text-center">

        <!-- LOGO -->
      
        <a href="">
            <img data-nite-src="assets/img/logo.png" class="img-fluid">
        </a>

        <!-- BOTONERA -->     
        
        <ul class="nav justify-content-center pt-4 botonera">
          
          <li class="nav-item mx-2" >
            <a class="nav-link" id="planes">Planes</a>
          </li>

          <li class="nav-item mx-2" >
            <a class="nav-link" id="nosotros">Nosotros</a>
          </li>

          <li class="nav-item mx-2" >
            <a class="nav-link" id="contacto">Contacto</a>
          </li>

          <li class="nav-item mx-2" >
            <a class="nav-link" id="trabajos">Trabajos</a>
          </li>     
          
        </ul>


      </figure>     

    </div>

    <div class="grid-item vistaVideo">    

      <video  id="videoPresentacion" muted autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true" preload="auto" width="200%">

        <source data-nite-src="assets/videos/video02.mp4" type="video/mp4">

      </video>      
      
    </div>

  </div>

  

</div>
